* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

$pure-white: #fff;
$path-color: #aaa;
$root-node-primary-color: rgba(76, 150, 182, 1);
$root-node-secondary-color: rgba(69, 134, 162, 1);
$factory-node-color: #333;
$child-node-color: #555;

.root-node {
  &__title {
    background: linear-gradient(180deg, $root-node-primary-color 0%, $root-node-secondary-color 100%);
    color: $pure-white;
    font-weight: 600;
    margin: 10px 0 5px;
    padding: 6px 24px;
  }
}

.factory-node {
  color: $factory-node-color;

  &__title {
    display: inline-block;
    font-weight: 600;
    margin: 5px 0;
    padding: 5px 10px;
  }
}

.child-node {
  color: $child-node-color;

  &__title {
    display: inline-block;
    margin: 5px 0;
    padding: 5px 10px;
  }
}

.node-path {
  &::before {
    color: $path-color;
    content: '_';
    position: relative;
    top: -7px;
  }
}

.node-children {
  list-style-type: none;
  margin: 0 0 0 40px;
  position: relative;

  &::before {
    border-left: 1px solid $path-color;
    content: '';
    height: calc(100% - 13px);
    left: -1px;
    position: absolute;
    top: -5px;
  }

  &:last-child {
    margin-bottom: 20px;
  }
}
