* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

$pure-white: #fff;
$path-color: #aaa;
$root-node-primary-color: rgba(76, 150, 182, 1);
$root-node-secondary-color: rgba(69, 134, 162, 1);
$factory-node-color: #333;
$child-node-color: #555;
$bounds-bg-color: #777;
$modal-bg-color: rgba(0, 0, 0, .85);

.root-node {
  &__title {
    background: linear-gradient(180deg, $root-node-primary-color 0%, $root-node-secondary-color 100%);
    color: $pure-white;
    font-weight: 600;
    margin: 10px 0 5px;
    padding: 6px 24px;
  }

  &__children {
    list-style-type: none;
    margin: 0 0 0 40px;
    position: relative;

    &::before {
      border-left: 1px solid $path-color;
      content: '';
      height: calc(100% - 15px);
      left: -1px;
      position: absolute;
      top: -5px;
    }
  }
}

.factory-node {
  color: $factory-node-color;

  &__title-wrapper {
    display: inline-block;
    width: 350px;
  }

  &__title {
    font-weight: 600;
    margin: 5px 0;
    padding: 5px 10px;
  }

  &__bounds {
    background: $bounds-bg-color;
    border-radius: 100px;
    color: $pure-white;
    float: right;
    font-weight: 600;
    padding: 1px 10px;
  }

  &__children {
    list-style-type: none;
    margin: 0 0 0 40px;
    position: relative;

    &::before {
      border-left: 1px solid $path-color;
      content: '';
      height: calc(100% - 23px);
      left: -1px;
      position: absolute;
      top: 4px;
    }

    &:last-child {
      margin-bottom: 20px;
    }
  }
}

.child-node {
  color: $child-node-color;

  &__title {
    display: inline-block;
    margin: 5px 0;
    padding: 5px 10px;
  }
}

.node-path {
  &::before {
    color: $path-color;
    content: '_';
    position: relative;
    top: -8px;
  }
}

.factory-modal {
  align-items: center;
  background-color: $modal-bg-color;
  display: flex;
  height: 100vh;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 999999;

  &__title {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
  }

  &__form {
    background: $pure-white;
    border-radius: 10px;
    padding: 50px 0;
    text-align: center;
    width: 300px;
  }

  &__input {
    margin: 10px;
  }

  label {
    display: none;
  }

  input {
    width: 80%;
  }

  button {
    
  }
}